
  body {
    padding: 0;
    margin: 0;
    font-family: $font;
    background-color: $black-background-color;
    text-align: center;
  }

  .container {
    width: 100%;
    max-width: 895px;
    height: auto;
}